<nav class="contenedor">
  <div class="nav-wrapper white">
    <a href="#" class="brand-logo grey-text darken-4-text">La Bodega</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#" routerLink="/home"><i class="fas fa-th grey-text darken-4-text"></i></a></li>
      <li><a href="#" routerLink="/compras"><i class="fas fa-shopping-cart grey-text darken-4-text">
            <p *ngIf="mostrar" class="btn-floating halfway waves-effect waves-light red center"> {{cantidad2}}</p>
          </i></a></li>
      <li><a (click)="logout()" href="#" routerLink="/"><i class="fas fa-sign-out-alt grey-text darken-4-text"></i></a></li>
    </ul>
  </div>
</nav>