*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url('./img/main-fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  width: 85%;
  margin: 0 auto 3rem auto;
  border-radius: 3px !important
}

.nav-wrapper{
  border-radius: 3px !important;
}

.container{
  padding: 0 10px 0 10px;
  width: 85%;
  border-radius: 8px;
}

.brand-logo{
  position: relative;
  display: inline !important;
  left: 10px !important;
  transform: none !important;
  font-size: 18px !important;
}
.numProd {
	display: block;
	color: white;
	width: 18px;
	height: 18px;
	border-radius: 9px;
  background-color: red;
  padding: 3px; 
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 12px;
  line-height: 10px;
}
.buttonToolbar{
  width: 90%;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.buttonToolbar button{
  margin: auto;
  display: block;
}

h3{
  padding-top: 1rem;
  font-size: 25px;
}

h4{
  padding-left: 1rem;
}